### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
pydoc/media/

# Local settings overries
pydoc/settings/local_settings.py

.cache
celerybeat-schedule
