.DS_Store
.AppleDouble
.LSOverride
*.py[cod]
__pycache__
.ropeproject/
pip-selfcheck.json
logs
*.log
pip-log.txt
npm-debug.log*
.coverage
.tox
nosetests.xml
htmlcov
*.mo
*.pot
node_modules/
.env
pydoc/media/
pydoc/settings/local_settings.py
.cache
celerybeat-schedule
bower_components/
