# -*- coding: utf-8 -*-

import os
import sys
import sphinx_rtd_theme

sys.path.insert(0, os.path.abspath('{{ python_path }}'))

# Project info

project = u'{{ project }}'
version = '{{ version }}'
release = version

# Theming

html_theme = 'sphinx_rtd_theme'
html_theme_path = [sphinx_rtd_theme.get_html_theme_path()]

# Extensions 

extensions = [
    'autoapi.extension',
    'pydoc.sphinx',
]

# AutoAPI

autoapi_keep_files = False
autoapi_type = 'python'
autoapi_file_pattern = '*.py'
autoapi_ignore = ['packages*', 'vendor*']
autoapi_dirs = {{ autoapi_dirs|safe }}

# Standard stuff

templates_path = ['templates', '_templates', '.templates']
source_suffix = ['.rst', '.md']
master_doc = 'index'
copyright = u'2016'

html_context = {
    'output_directory': '{{ output_directory }}',
}